.videoPlayer {
    position: relative;
}
.videoPlayer.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffdd;
}

.videoPlayer video {
    cursor: pointer;
}
.videoPlayer.fullscreen video {
    margin: 0 auto;
}

.videoPlayer .controls {
    position: absolute;
    left: 10px;
    bottom: 10px;
    
    opacity: 0;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s; /* Firefox 4 */
    -webkit-transition: opacity 0.5s; /* Safari and Chrome */
    -o-transition: opacity 0.5s; /* Opera */
}
.videoPlayer.fullscreen .controls {
    left: 30%;
}

.videoPlayer:hover .controls {
    opacity: 1;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s; /* Firefox 4 */
    -webkit-transition: opacity 0.5s; /* Safari and Chrome */
    -o-transition: opacity 0.5s; /* Opera */
}

.videoPlayer .controls > div {
    float: left;
    height: 20px;
    padding: 5px 5px 0 5px;
    background-color: #f7d472;
    border: solid 3px #9b7202;
    border-right: 0;
}

.videoPlayer .controls .play {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 13px;
}
.videoPlayer .controls .playButton {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 7px 0 7px 14px;
    border-color: transparent transparent transparent #b39030;
    cursor: pointer;
}

.videoPlayer .controls .pauseButton {
    height: 14px;
    width: 3px;
    border-left: solid 4px #b39030;
    border-right: solid 4px #b39030;
    cursor: pointer;
    display: none;
}

.videoPlayer .controls .volumeButton {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 14px 30px 0 0;
    border-color: transparent #b39030 transparent transparent;
    cursor: pointer;
}

.videoPlayer .controls .seekBar {
    height: 10px;
    background-color: #b39030;
    margin-top: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.videoPlayer .controls .seekProgress {
    height: 10px;
    width: 0;
    background-color: #9b7202;
    border-radius: 2px;
}

.videoPlayer .controls .time {
    font-size: 13px;
}

.videoPlayer .controls .fullscreen {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: solid 3px #9b7202;
}
.videoPlayer .controls .fullscreenButton {
    cursor: pointer;
}

.videoPlayer .controls .fullscreenButton > div {
    width: 0px;
    height: 0px;
    border-style: solid;
    float: left;
}
.videoPlayer .controls .fullscreenTopLeft {
    border-width: 7px 7px 0 0;
    border-color: #b39030 transparent transparent transparent;
}
.videoPlayer .controls .fullscreenTopRight {
    border-width: 0 7px 7px 0;
    border-color: transparent #b39030 transparent transparent;
}
.videoPlayer .controls .fullscreenBottomLeft {
    border-width: 7px 0 0 7px;
    border-color: transparent transparent transparent #b39030;
    clear: left;
}
.videoPlayer .controls .fullscreenBottomRight {
    border-width: 0 0 7px 7px;
    border-color: transparent transparent #b39030 transparent;
}