
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

.header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f7d472;
    color: #9b7202;
    padding: 10px 20px;
    margin: 10px 5px 0 5px;
}

.header h1 {
    font-size: 1.5em;    
}

.content {
    border: solid 5px #b39030;
    padding: 10px 20px;
    margin: 0 5px;
    color: #937010;
    background-color: #ffffdd;
    
}

.form {
    margin-top: 15px;
}

.form input, .form select {
    border: #b39030 2px solid;
    border-radius: 4px;
    background-color: #fffffa;
    color: #a38020;
    padding: 2px 8px;
}

.form select {
    padding: 1px 8px;
}

.form input[type=button] {
    font-weight: bold;
}
.form input[type=button]:hover {
    color: #ffffdd;
    background-color: #b39030;    
    cursor: pointer;
}

.form p {
    margin-bottom: 5px;
}

div.results {
    margin-top: 40px;
}
